<!DOCTYPE HTML>
<html>
  <head>
    <title>Estate Agents | <%=h yield(:title) %></title>
    <%= render :partial => 'layouts/stylesheets' %>

    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
		<div id="header">
		    <ul class="navigation round">
		      <li><%= link_to "Home", root_path %></li>
		      <li><%= link_to "Help", help_path %></li>
		      <li><%= link_to "Sign in", '#' %></li>
		    </ul>
		    <%= link_to logo, root_path %>
		  </div>

		<div id="content" class="round">
	      <%- flash.each do |name, msg| -%>
	        <%= content_tag :div, msg, :id => "flash_#{name}", :class => name %>
	      <%- end -%>
		
	      <%- if show_title? -%>
	        <h1><%=h yield(:title) %></h1>
	      <%- end -%>
		
	      <%= yield %>
		</div>
		<div id="footer">
		  <ul class="navigation round">
		    <li><%= link_to "About", about_path %></li>
		    <li><%= link_to "Contact", contact_path %></li>
		  </ul>
		</div>
		<div id="debug">
			<%= debug(params) if Rails.env.development? %>
		</div>
    </div>
  </body>
</html>
